body{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  padding-top:5%;
}
.cover{
  padding:2%;
  float: none;
  margin: 0 auto;
  overflow: hidden;
}
.cover-inner{
  overflow: auto;
  margin-right:-100px;
  padding-right:100px;
  height:200px;
}
.cover-inner ul li{
  list-style-type: none;
  text-align: center;
  height:200px;
  padding:2%;
  //float:left;
  //background:aqua;
}
.cover-inner ul li:nth-child(n+2){
  display: none;
}